.event-container{
    height:45vh;
    box-shadow: 5px 8px 10px -7px rgba(0, 0, 0, 0.38);
        -webkit-box-shadow: 5px 8px 10px -7px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 5px 8px 10px -7px rgba(0, 0, 0, 0.38);
}

.event-image__home{
    height:60%;
    width:100%;
    object-fit: cover;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.health{
    background-color: #add8e6;
}

.business{
    background-color: #e6e6fa;
}

.entertainment{
    background-color: #f7cfd6;
}

.technology{
    background-color: #cde6c7;
}

.event-is-dark{
    box-shadow: 0px 1px 9px -3px rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 0px 1px 9px -3px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 0px 1px 9px -3px rgba(255, 255, 255, 0.75);
}