.signin {
    height: 100vh;
}

.warning {
    width: 35%;
}

.signin-form {
    width: 35%;
}

.is-dark{
    background-color: white;
}

.signin-form input{
    background-color: transparent;
}

@media screen and (max-width:1000px){
.signin-form {
        width: 55%;
    }
 .warning {
     width: 55% !important;
 }
}

@media screen and (max-width:600px) {
    .signin-form {
        width: 100%;
    }

    .warning {
        width: 100% !important;
    }
}