.signin {
    height: 100vh;
}

.warning {
    width: 35%;
}

.signin-form {
    width: clamp(300px, 35%, 700px);
    /* box-shadow: 5px 8px 10px -7px rgba(0, 0, 0, 0.38);
        -webkit-box-shadow: 5px 8px 10px -7px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 5px 8px 10px -7px rgba(0, 0, 0, 0.38); */
}

.is-dark{
    background-color: white;
}

.signin-form input{
    background-color: transparent;
}