.signup{
    height:100vh;
}

.warning{
    width:35%;
}

.signup-form{
    width:35%;
}

.signup-form input{
    background-color: transparent;
}

@media screen and (max-width:1000px) {
    .signup-form {
        width: 55%;
    }

    .warning {
        width: 55% !important;
    }
}

@media screen and (max-width:600px) {
    .signup-form {
        width: 100%;
    }

    .warning {
        width: 100% !important;
    }
}