*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.dark{
    background-color: black;
    transition: all ease-in .5s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;